services:
  backend:
    build:
      context: ./mainsite
    container_name: tylerpacdevwebsite-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "8081:8080"
    networks:
      - backend

  frontend:
    build:
      context: ./frontend
    container_name: tylerpacdevwebsite-frontend
    ports:
      - "3000:80"
    networks:
      - backend

volumes:
  mysql_data:

networks:
  backend:
